<h1>Galpões</h1>   
    <div>
        <%=link_to('Cadastrar Galpão', new_warehouse_path)%>
    </div>
    <% @warehouses.each do |w| %>
        <div>
            <h2><%= link_to(w.name, w)%></h2>
            <dl>
                <dt>Código:</dt>
                <dd><%= w.code %></dd>

                <dt>Cidade:</dt>
                <dd><%= w.city %></dd>

                <dt>Área:</dt>
                <dd><%= w.area %> m2</dd>
            </dl>
        </div>
    <% end %>

    <% if @warehouses.empty? %>
        <p>Não existem galpões cadastrados</p>
    <% end %>