<h1> Fornecedor <%= @supplier.brand_name %></h1>
<h2><%= @supplier.corporate_name%></h2>

<dl>
    <dt><strong> CNPJ: </strong></dt>
    <dd><%= @supplier.registration_number%></dd>
    <dt><strong>Endereço: </strong></dt>
    <dd><%= @supplier.full_address%>, <%= @supplier.city%> - <%= @supplier.state%>
    <dt><strong> E-mail: </strong></dt>
    <dd><%= @supplier.email%></dd>
    <dt><strong> Telefone: </strong></dt>
    <dd><%= @supplier.telephone%></dd>
</dl>

<h2> Produtos deste Fornecedor</h2>
<div>
    <dl>
    <% @product_model.each do |pm| %>
        <dt><strong><%=link_to(pm.name, pm)%></strong></dt>
    <%end%>
    </dl>

<div>
    <%= link_to('Editar', edit_supplier_path(@supplier))%>
</div>
<div>
    <%= link_to('Voltar', suppliers_path)%>
</div>